/*
 Custom Styles for Boral pages
*/

html, body {
    height: 100%;
}

.login-container, .login-container > .row, .login-container > .row > div {
    position: relative;
    height: 100%;
}

.login-panel {
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 80%;
}

.logo-img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}


.header-logo {
    width: 100px;
    height: 100px;
}

.header .user-profile {
    line-height: 50px;
    font-size: 2em;
}

.header .date-time {
    font-size: 1.6em;
}

/* For distributed nav items*/
.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}

.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
/*ends*/

.main-content,
.main-content .container,
.main-content .container .row,
.main-content .container .row > div,
.main-content .container .row > div > div {
    min-height: 500px;
}

.left-panel {
    border: 1px solid red;
}