/*
 Custom Styles for Boral pages
*/

html, body {
    height: 100%;
}

.login-container, .login-container > .row, .login-container > .row > div {
    position: relative;
    height: 100%;
}

.login-panel {
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 80%;
}

.logo-img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}


.header-logo {
    width: 100px;
    height: 100px;
}

.header .user-profile {
    line-height: 50px;
    font-size: 1.4em;
}

.header .date-time {
    font-size: 1.4em;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    border-color: #1e2521;
    background-color: #2aabd2;
    color: #ffffff;
}

.navbar-default .navbar-nav li > a {
    color: #fff;
}

.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .active > a:hover{
    background-color: #2b669a;
    color: #fff;
}

/* For distributed nav items*/
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
}
/*ends*/


@media (min-width: 992px) {
    .left-panel {
        border: 1px solid #cce6ff;
        background-color: #e6f2ff;
        min-height: 500px;
    }
}



.btn-addnew {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    padding: 8px;
    line-height: 40px;
}


.page-title {
    margin: 20px;
    font-size: 2em;
    border-bottom: 1px solid black;
}

.page-content,
.site-list-container,
.site-table {
    width: 100%;
    font-size: 1.1em;
}

.page-content {
    margin-top: 20px;
}

.page-content > form {
    padding: 8px;
    margin-top: 30px;
}

.site-table > thead > * > * {
    padding: 10px;
    text-align: center;
    background-color: #e6f2ff;
    color: black;
}

.site-list-container {
    padding: 8px;
}

.index-column {
    text-align: center;
}

.site-info-column {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.site-info-column > div > div {
    line-height: 2.2em;
}

.action-column {
    padding: 10px;
    min-width: 100px;
}

.button-group {
    margin-top: 40px;
}


