/*
 Custom Styles for Boral pages
*/

html, body {
    height: 100%;
}

.login-container, .login-container > .row, .login-container > .row > div {
    position: relative;
    height: 100%;
}

.login-panel {
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 80%;
}

.logo-img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}